<!-- Created By: Srikhar Dogiparthy-->
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2 class="fw-bold text-decoration-underline"> Developed by: Srikhar Dogiparthy</h2>
<hr/>

